#notification_value {
    background-color: #fa3e3e;
    border-radius: 2px;
    color: #fff;
    font-size: 10px;
    line-height: 1.3;
    min-height: 13px;
    padding: 1px 3px;
    background-clip: padding-box;
    display: inline-block;
    position: relative;
    right: -35px;
    bottom: -25px;
}

.pimcore_status_notification {
    background: url(/bundles/divantenotifications/icons/email.svg) center center no-repeat !important;
}